@import "tailwindcss";

@layer components {
.text_color {
  @apply text-black
}
}
.form_label {
  @apply text-sm font-bold w-full text-black
}

.form_input {
  @apply w-full pl-2 h-10 rounded   invalid:border-2 
  invalid:border-red-400 text-black bg-white border placeholder:text-neutral-400
}

.form_container {
  @apply  items-center gap-3  w-full
}

.form_background {
  @apply  bg-neutral-300/50 shadow-md
}

/*
Estilos de tablas 
*/

table {
  @apply w-full table-auto rounded-md
}

/*Estilo de THEAD*/
thead {
  @apply text-lg font-extrabold bg-neutral-300
}

thead tr {
  @apply uppercase text-xs font-light h-7
}

thead tr th {
  @apply text-center
}

/*Estilo de TBODY*/
tbody {
  @apply bg-neutral-200 text-center  text-sm
}

tbody tr {
  @apply border-b border-neutral-400 last:border-b-0
}

tbody tr td {
  @apply text-center
}

tbody tr td div {
  @apply flex h-6 text-black
}

tbody tr:hover {
  @apply bg-neutral-100 overflow-y-scroll;
}

/**
TABLE MAIN STYLES
*/

.header-main {
  @apply w-full items-center flex justify-center gap-2 mb-3 scale-90
}

.table-main {
  @apply w-full shadow-lg rounded-lg h-[calc(100vh-80px)] overflow-y-scroll
}


/**
UI/UX
*/
.create_button {
  @apply bg-green-500 hover:bg-green-600 cursor-pointer
}

.delete_button {
  @apply bg-red-500 hover:bg-red-600 cursor-pointer
}