<div class="bg-neutral-300 text_color max-h-dvh h-dvh">
  <div class="flex flex-row gap-4 py-3 justify-center bg-amber-600 text_color">
    <app-sign-out></app-sign-out>
    <!-- <app-dark-button></app-dark-button> -->
  </div>

  <!-- Scrollable area -->
  <div class="max-h-[calc(100vh-54px)] overflow-y-auto">
    <nav class="flex flex-col gap-3 mb-20">
      <ng-container *ngFor="let module of modules">
  <app-options-sidebar
    *ngIf="module.rol === 'ANY' || rol === 'ADMIN' || module.rol === rol"
    [text]="module.name"
    [url]="module.routes.main.path"
    [userId]="userId"
    >
  </app-options-sidebar>
</ng-container>
    </nav>
  </div>
</div>
