<div class="form_background text_color max-h-dvh h-dvh ">
  <div class="flex flex-row gap-4 py-3 justify-center bg-amber-600 text_color">
    <app-sign-out></app-sign-out>
    <!-- <app-dark-button></app-dark-button> -->
  </div>

  <!-- Scrollable area -->
  <div class="max-h-[calc(100vh-54px)] overflow-y-auto">
    <nav class="flex flex-col gap-3 mb-20">
      <!-- Lista dinámica de módulos -->
      @for (module of modules; track module.code) {
      <app-options-sidebar
        [text]="module.name"
        [url]="module.routes.main.path"
        (click)="select(module.code)"
      ></app-options-sidebar>
      } @empty {
      <li>No Modules found.</li>
      }
    </nav>
  </div>
</div>
